<%= partial "partials/navbar", :locals => {:current_page => 'home'} %>

<div class="home-container">
  
  <div class="hero-container ">
    <div class="hero-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">Build to Last.</div>
      <div class="sub-heading font-size-lg font-wt-500 mt-2">Software Solution Building For Innovative Companies</div>
    </div>
  </div>

  <div class="intro-container">
    <div class="intro-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">Who are we?</div>
      <div class="sub-heading font-size-lg font-wt-300 mt-2">
        Kode Loungers are in-house, full-time <br> 
        resources committed to the success of our <br>
        clients. We work in small, empowered <br>
        teams focused on delivering valuable <br>
        software for our clients.</div>
    </div>
  </div>

  <div class="work-container ">
    <div class="work-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">Our Work</div>
      <div class="body font-size-default font-wt-300 my-5">
        The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Integer tempus, elit in laoreet posuere, lectus neque blandit dui, et placerat urna diam mattis orci. Quisque congue porttitor ullamcorper.
      </div>
      <div class="work-contents-wrapper">
        <div class="row">
          <div class="work-detail-container col-12 offset-md-1 col-md-5 mr-4 p-3 ">
            <%= image_tag  "Artboard.png", class: 'work-image mb-4' %>
            <div class="work-detail-heading mb-3 font-wt-700">LUCIDITY DIRECT</div>
            <div class="work-detail-info font-size-xsm">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
            <a href="luciditydirect.com" class="my-4">luciditydirect.com</a>
          </div>
          <div class="work-detail-container col-12 col-md-5 ml-4 p-3">
            <%= image_tag  "Artboard.png", class: 'work-image mb-4' %>
            <div class="work-detail-heading mb-3 font-wt-700">MANAGE MY SURGERY</div>
            <div class="work-detail-info font-size-xsm">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
            <a href="luciditydirect.com" class="my-4">luciditydirect.com</a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="work-detail-container col-12 offset-md-1 col-md-5 mr-4 p-3 mt-5">
            <%= image_tag  "Artboard.png", class: 'work-image mb-4' %>
            <div class="work-detail-heading mb-3 font-wt-700">LUCIDITY DIRECT</div>
            <div class="work-detail-info font-size-xsm">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
            <a href="luciditydirect.com" class="my-4">luciditydirect.com</a>
          </div>
          <div class="work-detail-container col-12 col-md-5 ml-4 p-3 mt-5">
            <%= image_tag  "Artboard.png", class: 'work-image mb-4' %>
            <div class="work-detail-heading mb-3 font-wt-700">MANAGE MY SURGERY</div>
            <div class="work-detail-info font-size-xsm">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
            <a href="luciditydirect.com" class="my-4">luciditydirect.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-container">
    <div class="testimonial-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">What our clients say about us</div>
      <div class="testimonial-contents-wrapper">
        <div class="row">
          <div class="col-12 offset-md-1 col-md-5 mb-5 img-container">
            <%= image_tag  "profile.png", class: '' %>
            <div class="talk-bubble tri-right left-in">
              <div class="talktext">
                <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
              </div>
            </div>
          </div>
          <div class="col-12  col-md-5 mb-5 img-container">
            <%= image_tag  "profile.png", class: '' %>
            <div class="talk-bubble tri-right left-in">
              <div class="talktext">
                <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
              </div>
            </div>
          </div>
          <div class="col-12 offset-md-1 col-md-5 mb-5 img-container">
            <%= image_tag  "profile.png", class: '' %>
            <div class="talk-bubble tri-right left-in">
              <div class="talktext">
                <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
              </div>
            </div>
          </div>
          <div class="col-12  col-md-5 mb-5 img-container">
            <%= image_tag  "profile.png", class: '' %>
            <div class="talk-bubble tri-right left-in">
              <div class="talktext">
                <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
              </div>
            </div>
          </div>
          <div class="col-12  offset-md-1 col-md-5 mb-5 img-container">
            <%= image_tag  "profile.png", class: '' %>
            <div class="talk-bubble tri-right left-in">
              <div class="talktext">
                <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
              </div>
            </div>
          </div>
          <div class="col-12  col-md-5 mb-5 img-container">
            <%= image_tag  "profile.png", class: '' %>
            <div class="talk-bubble tri-right left-in">
              <div class="talktext">
                <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="principles-container">
    <div class="principles-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">Our Principles</div>
      <div class="body font-size-default font-wt-300 my-5">
        The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Integer tempus, elit in laoreet posuere, lectus neque blandit dui, et placerat urna diam mattis orci. Quisque congue porttitor ullamcorper.
      </div>
      <div class="principles-contents-wrapper">
        <div class="row">
          <div class="principle-detail-container col-12 mb-5 mt-5">
            <div class="principle-info mb-3 font-wt-700">AGILITY</div>
            <div class="principles-text font-wt-100">
              A key advantage of working with KodeLounge is that we’ve successfully built complex systems a hundred times over and are able to react to changing requirements and new opportunities. We typically work in two-week development sprints, side by side with our clients. We are able to identify issues quickly and adjust in real-time to ensure we are tracking well against expectations and constantly delivering value.
            </div>
            <div class="separator mt-5"><hr></div>
          </div>
          <div class="principle-detail-container col-12 mb-5">
            <div class="principle-info mb-3 font-wt-700">TEAM STRENGTH</div>
            <div class="principles-text font-wt-100">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Maecenas non leo laoreet, condimentum lorem nec, vulputate massa. Aenean eu justo sed elit dignissim aliquam. Donec eget risus diam.
            </div>
            <div class="separator mt-5"><hr></div>
          </div>
          <div class="principle-detail-container col-12 mb-5">
            <div class="principle-info mb-3 font-wt-700">USER CENTERED DESIGN</div>
            <div class="principles-text font-wt-100">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Maecenas non leo laoreet, condimentum lorem nec, vulputate massa. Aenean eu justo sed elit dignissim aliquam. Donec eget risus diam.
            </div>
            <div class="separator mt-5"><hr></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tech-container">
    <div class="tech-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700 mb-5">Technologies We Use</div>
      <div class="tech-images-container">
        <div class="tech-image-1 mb-4"></div>
        <div class="tech-image-2"></div>
      </div>
    </div>
  </div>

  <div class="office-container">
    <div class="row">
      <div class="heading-wrapper col-12 col-md-6 pl-5">
        <div class="heading font-size-xlg font-wt-700 mb-5">Our Office</div>
        <div class="body font-size-default font-wt-300 my-5 pt-4">
          Kode Lounge India Pvt. Ltd. <br>
          Pune, India
        </div>
      </div>
      <div class="map-container col-12 col-md-6">
        <div id="map"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="contact-container">
    <div class="row">
      <div class="heading-wrapper col-12 col-md-4 pl-5">
        <div class="heading font-size-xlg font-wt-700 mb-5">Contact Us</div>
        <div class="body font-size-default font-wt-300 my-5 pt-4">
          The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec congue purus. Aenean eu justo sed elit dignissim aliquam. Mauris id fermentum nulla.
        </div>
      </div>
      <div class="form-container col-12 col-md-8 mb-5">
        <form id="contact-us-form" class="parsley-form" data-parsley-validate="" data-parsley-ui-enabled="true" data-parsley-trigger="change focusout" data-parsley-focus="first">
          <div class="font-size-default font-wt-100 my-4">Name <sup>*</sup> </div>
          <div class="name-container">
            <input type="text" id="name-contact-us" required="required" title="Name is required">
          </div>
          <div class="email-container">
            <div class="font-size-default font-wt-100 my-4">Email Address <sup>*</sup></div>
            <div><input type="email" id="email-contact-us" required="required" title="Valid email is required"></div>
          </div>
          <div class="subject-container">
            <div class="font-size-default font-wt-100 my-4">Subject <sup>*</sup></div>
            <div><input type="text" id="subject-contact-us" required="required" title="Valid email is required"></div>
          </div>
          <div class="font-size-default font-wt-100 my-4">Message <sup>*</sup></div>
          <div><textarea id="message-contact-us" rows="10" required="required"></textarea></div>

          <div class="button-container mt-4">
            <button class="submit-button action-dark-btn" id="submit-contact-us">SUBMIT</button>
          </div>
				</form>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/footer" %>

<script>
  $(function() {
    form = $("#contact-us-form");
    form.parsley();
  });

  // add map
    function initMap() {
      var klLoc = {lat: 18.5122, lng: 73.7737};
      // The map, centered at KL
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 12, center: klLoc});
      // The marker, positioned at kl
      var marker = new google.maps.Marker({position: klLoc, map: map});
    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= data.settings.map_api_key %>&callback=initMap">
</script>