<%= partial "partials/navbar", :locals => {:current_page => 'home'} %>

<div class="home-container">
  
  <div class="hero-container ">
    <div class="hero-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">Build to Last.</div>
      <div class="sub-heading font-size-lg font-wt-500 mt-2">Software Solution Building For Innovative Companies</div>
    </div>
  </div>

  <div class="intro-container">
    <div class="intro-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">Who are we?</div>
      <div class="sub-heading font-size-lg font-wt-300 mt-2">
        Kode Loungers are in-house, full-time <br> 
        resources committed to the success of our <br>
        clients. We work in small, empowered <br>
        teams focused on delivering valuable <br>
        software for our clients.</div>
    </div>
  </div>

  <div class="work-container ">
    <div class="work-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">Our Work</div>
      <div class="body font-size-default font-wt-300 my-5">
        The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Integer tempus, elit in laoreet posuere, lectus neque blandit dui, et placerat urna diam mattis orci. Quisque congue porttitor ullamcorper.
      </div>
      <div class="work-contents-wrapper">
        <div class="row">
          <div class="work-detail-container col-12 col-md-6">
            <%= image_tag  "sample.jpg", class: 'work-image mb-4' %>
            <div class="work-detail-heading mb-3 font-wt-700">LUCIDITY DIRECT</div>
            <div class="work-detail-info">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
            <button class="action-btn my-4">VISIT LUCIDITY</button>
          </div>
          <div class="work-detail-container col-12 col-md-6">
            <%= image_tag  "sample.jpg", class: 'work-image mb-4' %>
            <div class="work-detail-heading mb-3 font-wt-700">MANAGE MY SURGERY</div>
            <div class="work-detail-info">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
            <button class="action-btn my-4">VISIT MMS</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-container">
    <div class="testimonial-wrapper col-12">
      <div class="heading font-size-xlg font-wt-700">What our clients say about us</div>
      <div class="testimonial-contents-wrapper">
        <div class="row">
          <div class="client-detail-container col-12">
            <%= image_tag  "sample.jpg", class: 'client-image mb-4' %>
            <div class="client-info mb-3 font-wt-700">JAMES H. CLARKE, CEO, LUCIDITY DIRECT</div>
            <div class="testimonial-text">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
          </div>
          <div class="client-detail-container col-12">
            <%= image_tag  "sample.jpg", class: 'client-image mb-4' %>
            <div class="client-info mb-3 font-wt-700">RAJEEV DHARMAPURIKAR</div>
            <div class="testimonial-text">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
          </div>
          <div class="client-detail-container col-12">
            <%= image_tag  "sample.jpg", class: 'client-image mb-4' %>
            <div class="client-info mb-3 font-wt-700">Dr. ZIAD GALLAD</div>
            <div class="testimonial-text">
              The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Suspendisse nec congue purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. The following is placeholder text known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>